.meteor/local
.cache
.vscode
.coverage
.nyc_output
.DS_Store
fileStorage
settings.json
nohup.out
node_modules
dump
*.crt

# Meteor Modern-Tools build context directories
_build
*/build-assets*
*/build-chunks*
.rsdoctor
